<!DOCTYPE html>
<html lang="en" ng-app="turneroWebLoginApp">

    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="css/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="css/assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>TurneroWeb | 2018</title>


        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <script src="script/lib/moment.js" type="text/javascript"></script>

        <!--<script src="script/lib/jquery.min.js" type="text/javascript"></script>-->
        <!--<script src="css/alertify/lib/alertify.min.js" type="text/javascript"></script>-->
        <!--        <link href="css/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
                <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
        <link href="css/pickList.css" rel="stylesheet" type="text/css"/>
        <script src="script/lib/angularjs.js" type="text/javascript"></script>
        <!--<script src="script/lib/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>-->
        <script src="script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
        <link href="css/estiloCombo.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <!--<link href="css/checkBoxStyle.css" rel="stylesheet" type="text/css"/>-->

        <link href="css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>
        <link href="css/listBoxCss.css" rel="stylesheet" type="text/css"/>
        <!--<link rel="icon" type="image/png" href="img/icon_1.png" />-->
        <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
        <script src="script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>
        <!--NEW INFO-->
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href="css/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
        <!--<link href="css/assets/css/material-dashboard.css" rel="stylesheet" type="text/css"/>-->
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <!--<link href="css/assets/demo/demo.css" rel="stylesheet" />-->
        <style>
            #mainMenu {
                margin-top: 50px;
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                position: fixed;
            }
        </style>
    </head>

    <!--<body class="" ng-controller="inicioCtrl" style="background-image: url('img/fondo/fondoHD.jpg')">-->
    <body class="" ng-controller="inicioCtrl">
        <!--<div class="wrapper ">-->
        <!--<div class="row">-->
        <div class="col-lg-12 col-md-12">
            <div class="card" id="mainMenu">
                <div class="card-header card-header-tabs card-header-success">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <!--<span class="nav-tabs-title">Tasks:</span>-->
                            <!--<span class="nav-tabs-title"><h2><center><b>Menú del Sistema</h2></center></b></span>-->
                            <div class="ct-chart" id=""><h2><center><b>Menú del Sistema</b></center></h2></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--<div class="row">-->
                    <div class="col-xs-12">
                        <h4><b>Selecciona la operación a realizar:</b></h4>
                        <!--<center>-->
                        <ul class="list-unstyled list-social">
                            <li>
                                <button type="button" class="btn btn-default btn-block" ng-click="cambioTurno()">
                                    <!--<a target="_blank" href="cambio.html">-->
                                    <i class="fa fa-external-link-square"></i>
                                    <span class=""><h4><b>Cambio de Turno</b></h4></span>
                                    <!--</a>-->
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-block" ng-click="listTurno()">
                                    <!--<a target="_blank" href="turnos.html">-->
                                    <i class="fa fa-list-ul"></i>
                                    <span class=""><h4><b>Lista de Turnos</b></h4></span>
                                    <!--</a>-->
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-block" ng-click="login()">
                                    <!--<a target="_blank" href="turnos.html">-->
                                    <i class="fa fa-list-ul"></i>
                                    <span class=""><h4><b>Pedidos</b></h4></span>
                                    <!--</a>-->
                                </button>
                            </li>
                            <!--</center>-->
                        </ul>
                    </div>
                    <!--</div>-->
                </div>
                <div class="card-footer"><b>MutualMSPBS#2020</b></div>
            </div>
        </div>
        <!--</div>-->
        <!--   Core JS Files   -->
        <script src="css/assets/js/core/jquery.min.js"></script>
        <script src="css/assets/js/core/popper.min.js"></script>
        <script src="css/assets/js/core/bootstrap-material-design.min.js"></script>
        <script src="css/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Plugin for the momentJs  -->
        <script src="css/assets/js/plugins/moment.min.js"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="css/assets/js/plugins/sweetalert2.js"></script>
        <!-- Forms Validations Plugin -->
        <script src="css/assets/js/plugins/jquery.validate.min.js"></script>
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="css/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="css/assets/js/plugins/bootstrap-selectpicker.js"></script>
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="css/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script src="css/assets/js/plugins/jquery.dataTables.min.js"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="css/assets/js/plugins/bootstrap-tagsinput.js"></script>
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="css/assets/js/plugins/jasny-bootstrap.min.js"></script>
        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="css/assets/js/plugins/fullcalendar.min.js"></script>
        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="css/assets/js/plugins/jquery-jvectormap.js"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="css/assets/js/plugins/nouislider.min.js"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <!-- Library for adding dinamically elements -->
        <script src="css/assets/js/plugins/arrive.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chartist JS -->
        <script src="css/assets/js/plugins/chartist.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="css/assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="css/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
        <!-- Material Dashboard DEMO methods, don't include it in your project! -->
        <script src="css/assets/demo/demo.js"></script>

        <!--TO SERVER-->
        <script src="script/lib/bootstrap.min.js" type="text/javascript"></script>
        <script src="script/pickList.js" type="text/javascript"></script>
        <script src="script/lib/base64.js" type="text/javascript"></script>
        <script src="script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <!--CHART-->  
        <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
        <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>  
        <!--FIN CHART-->

        <script src="script/lib/customSelect.js" type="text/javascript"></script>

        <script src="script/lib/angular-route.js" type="text/javascript"></script>
        <script src="script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="script/lib/ngCookies.js" type="text/javascript"></script>

        <script src="script/app_login.js" type="text/javascript"></script>

        <script src="script/controller/menu-controller.js" type="text/javascript"></script>
        <script src="script/service/retiro_pedido-service.js" type="text/javascript"></script>
        <script>//
//                                                    $(document).ready(function () {
//                                                        $().ready(function () {
//                                                            $sidebar = $('.sidebar');
//
//                                                            $sidebar_img_container = $sidebar.find('.sidebar-background');
//
//                                                            $full_page = $('.full-page');
//
//                                                            $sidebar_responsive = $('body > .navbar-collapse');
//
//                                                            window_width = $(window).width();
//
//                                                            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
//
//                                                            if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
//                                                                if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
//                                                                    $('.fixed-plugin .dropdown').addClass('open');
//                                                                }
//
//                                                            }
//
//                                                            $('.fixed-plugin a').click(function (event) {
//                                                                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
//                                                                if ($(this).hasClass('switch-trigger')) {
//                                                                    if (event.stopPropagation) {
//                                                                        event.stopPropagation();
//                                                                    } else if (window.event) {
//                                                                        window.event.cancelBubble = true;
//                                                                    }
//                                                                }
//                                                            });
//
//                                                            $('.fixed-plugin .active-color span').click(function () {
//                                                                $full_page_background = $('.full-page-background');
//
//                                                                $(this).siblings().removeClass('active');
//                                                                $(this).addClass('active');
//
//                                                                var new_color = $(this).data('color');
//
//                                                                if ($sidebar.length != 0) {
//                                                                    $sidebar.attr('data-color', new_color);
//                                                                }
//
//                                                                if ($full_page.length != 0) {
//                                                                    $full_page.attr('filter-color', new_color);
//                                                                }
//
//                                                                if ($sidebar_responsive.length != 0) {
//                                                                    $sidebar_responsive.attr('data-color', new_color);
//                                                                }
//                                                            });
//
//                                                            $('.fixed-plugin .background-color .badge').click(function () {
//                                                                $(this).siblings().removeClass('active');
//                                                                $(this).addClass('active');
//
//                                                                var new_color = $(this).data('background-color');
//
//                                                                if ($sidebar.length != 0) {
//                                                                    $sidebar.attr('data-background-color', new_color);
//                                                                }
//                                                            });
//
//                                                            $('.fixed-plugin .img-holder').click(function () {
//                                                                $full_page_background = $('.full-page-background');
//
//                                                                $(this).parent('li').siblings().removeClass('active');
//                                                                $(this).parent('li').addClass('active');
//
//
//                                                                var new_image = $(this).find("img").attr('src');
//
//                                                                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
//                                                                    $sidebar_img_container.fadeOut('fast', function () {
//                                                                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
//                                                                        $sidebar_img_container.fadeIn('fast');
//                                                                    });
//                                                                }
//
//                                                                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
//                                                                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
//
//                                                                    $full_page_background.fadeOut('fast', function () {
//                                                                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
//                                                                        $full_page_background.fadeIn('fast');
//                                                                    });
//                                                                }
//
//                                                                if ($('.switch-sidebar-image input:checked').length == 0) {
//                                                                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
//                                                                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
//
//                                                                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
//                                                                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
//                                                                }
//
//                                                                if ($sidebar_responsive.length != 0) {
//                                                                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
//                                                                }
//                                                            });
//
//                                                            $('.switch-sidebar-image input').change(function () {
//                                                                $full_page_background = $('.full-page-background');
//
//                                                                $input = $(this);
//
//                                                                if ($input.is(':checked')) {
//                                                                    if ($sidebar_img_container.length != 0) {
//                                                                        $sidebar_img_container.fadeIn('fast');
//                                                                        $sidebar.attr('data-image', '#');
//                                                                    }
//
//                                                                    if ($full_page_background.length != 0) {
//                                                                        $full_page_background.fadeIn('fast');
//                                                                        $full_page.attr('data-image', '#');
//                                                                    }
//
//                                                                    background_image = true;
//                                                                } else {
//                                                                    if ($sidebar_img_container.length != 0) {
//                                                                        $sidebar.removeAttr('data-image');
//                                                                        $sidebar_img_container.fadeOut('fast');
//                                                                    }
//
//                                                                    if ($full_page_background.length != 0) {
//                                                                        $full_page.removeAttr('data-image', '#');
//                                                                        $full_page_background.fadeOut('fast');
//                                                                    }
//
//                                                                    background_image = false;
//                                                                }
//                                                            });
//
//                                                            $('.switch-sidebar-mini input').change(function () {
//                                                                $body = $('body');
//
//                                                                $input = $(this);
//
//                                                                if (md.misc.sidebar_mini_active == true) {
//                                                                    $('body').removeClass('sidebar-mini');
//                                                                    md.misc.sidebar_mini_active = false;
//
//                                                                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
//
//                                                                } else {
//
//                                                                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');
//
//                                                                    setTimeout(function () {
//                                                                        $('body').addClass('sidebar-mini');
//
//                                                                        md.misc.sidebar_mini_active = true;
//                                                                    }, 300);
//                                                                }
//
//                                                                // we simulate the window Resize so the charts will get updated in realtime.
//                                                                var simulateWindowResize = setInterval(function () {
//                                                                    window.dispatchEvent(new Event('resize'));
//                                                                }, 180);
//
//                                                                // we stop the simulation of Window Resize after the animations are completed
//                                                                setTimeout(function () {
//                                                                    clearInterval(simulateWindowResize);
//                                                                }, 1000);
//
//                                                            });
//                                                        });
//                                                    });
//            </script>
        <script>//
//                        $(document).ready(function () {
//                            // Javascript method's body can be found in assets/js/demos.js
//                            md.initDashboardPageCharts();
//
//                        });
//            </script>
    </body>

</html>
