<!DOCTYPE html>
<html ng-app="turneroWebLoginApp">
    <head>
        <title>TurneroWeb | 2018</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<base href="https://demos.telerik.com/kendo-ui/listbox/templates">-->
        <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <link rel="icon" type="image/png" href="css/assets/img/favicon.png">
        <script src="script/lib/moment.js" type="text/javascript"></script>

        <script src="script/lib/jquery.min.js" type="text/javascript"></script>
        <!--<script src="css/alertify/lib/alertify.min.js" type="text/javascript"></script>-->
        <link href="css/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--<link href="css/pickList.css" rel="stylesheet" type="text/css"/>-->
        <script src="script/lib/angularjs.js" type="text/javascript"></script>
        <!--<script src="script/lib/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>-->
        <script src="script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
        <link href="css/estiloCombo.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <!--<link href="css/checkBoxStyle.css" rel="stylesheet" type="text/css"/>-->


        <link href="css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>
        <link href="css/listBoxCss.css" rel="stylesheet" type="text/css"/>
        <!--<link rel="icon" type="image/png" href="img/icon_1.png" />-->
        <!--<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />-->
        <script src="script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>

        <link href="css/dist/overhang.min.css" rel="stylesheet" type="text/css"/>
        <!--NEW INFO-->
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <!--        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->
        <!-- CSS Files -->
        <!--<link href="css/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />-->
        <link href="css/assets/css/material-dashboardCopia.css" rel="stylesheet" type="text/css"/>

        <!--        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
                <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />-->
        <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />-->
        <!--<script src="script/lib/jquery.min.js" type="text/javascript"></script>-->
        <script src="css/demo/js/jquery-1.12.0.min.js.js" type="text/javascript"></script>
        <script src="css/demo/js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="css/dist/overhang.min.js" type="text/javascript"></script>
        <!--<script type="text/javascript" src="demo/js/prism.js"></script>-->
        <script src="css/demo/js/index.js" type="text/javascript"></script>
        <style>
            #mainMenu {
                margin-top: 20px;
            }
        </style>
    </head>
    <body ng-controller="cambioCtrl">
        <!--    <body ng-controller="cambioCtrl" style="background-image: url('img/fondo/fondoHD.jpg')">-->
        <!--<div class="row">-->
        <!--            <div class="col-md-1">
                    </div>-->
        <!--<div class="col-md-12">-->
        <div class="card card-chart" >
            <!--style="margin-top: 50px;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            position: fixed;-->

            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart">
                    <!--<h2><center><b>Cambio de Turno</b></center></h2>-->
                    <h3><center>{{name}} {{lastname}} - {{box}} - {{atencionDescri}} - <a href="#" style="color: white" ng-click="cambioEstadoSonido()">{{soundStatus}}</a> - <a href="#" style="color: white" ng-click="cerrarTodo()">SALIR</a></center></h3>
                </div>
            </div>
            <div class="card-body">
                <h2 class="card-title">
                    <!--Seleccione para cambio de turno:-->
                    <!--<p class="card-category">-->
                    <div class="row">
                        <!--<div class="col-xs-2"></div>-->
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-lg btn-default btn-block" ng-click="voverALlamar()">
                                <span class=""><h4><b>LLAMAR AL SOCIO/A</b></h4></span>
                            </button>
                            <br>
                            <!--<div class="col-3" style="text-align: center"><h3><b>Seleccione para cambio de turno:</b></h3></div>-->
                            <!--                                <h3><b>Seleccione para cambio de turno:</b></h3>-->
                            <!--inicio-->
                            <div id="listBox" style="cursor: pointer">
                                <div id="list-left" class="dual-list list-left col-md-5">
                                    <div class="well text-right">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-search"></span>&nbsp;&nbsp;&nbsp;
                                                    <input type="text" name="SearchDualList" class="form-control" placeholder="Turnos pendientes..." />
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="btn-group">
                                                    <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well" style="max-height: 300px;overflow: auto; cursor: pointer;">
                                            <ul class="list-group" id='listPaso'>
                                                <span ng-repeat="rp in retiroPedido track by $index">
                                                    <li class="list-group-item" ng-dblclick="dblClick(rp.idRetiro)">
                                                        <!--style="font-size: 22px; font-weight: 500"-->

                                                        <div ng-if="rp.llamar == true">
                                                            <center><b style="color: green; font-size: 20px; line-height: 1.4em;">{{rp.numero}}</b><b style="font-size: 20px;"> - {{rp.hora}}</b><b style="color: green; font-size: 20px;"> - ON</b></center>
                                                            <center><b style="font-size: 15px;">Cédula: {{rp.ci}}</b></center>
                                                            <center><b style="font-size: 13px;">{{rp.cliente}}</b></center>
                                                        </div>
                                                        <div ng-if="rp.llamar == false">
                                                            <center><b style="color: red; font-size: 20px; line-height: 1.4em;">{{rp.numero}}</b><b style="font-size: 20px;"> - {{rp.hora}}</b><b style="color: red; font-size: 20px;"> - OFF</b></center>
                                                            <center><b style="font-size: 15px;">Cédula: {{rp.ci}}</b></center>
                                                            <center><b style="font-size: 13px;">{{rp.cliente}}</b></center>
                                                        </div>
                                                        <input type="hidden" id="dato{{rp.numRetiro}}" value="{{rp.idRetiro}}"></li>
                                                </span>                                    
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div id="list-arrows" class="list-arrows col-md-2 text-center">
                                    <!--                                    <button class="btn btn-default move-left" ng-click="back()">
                                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                                        </button>-->

                                    <button class="btn btn-default  move-right">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>

                                <div id="list-right" class="dual-list list-right col-md-5">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="btn-group">
                                                    <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll2"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="SearchDualList" class="form-control" placeholder="Ultimos llamados..." />
                                                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well" style="max-height: 300px;overflow: auto; cursor: pointer;">
                                            <ul class="list-group" id="listSeleccionado">

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card-footer">-->
                    <button type="button" class="btn btn-lg btn-default btn-block" ng-click="entregado()">
                        <span class=""><h4><b> TURNO FINALIZADO </b></h4></span>
                    </button>
                    <!--                        <div class="col-md-6">
                                                <button type="button" class="btn btn-success btn-block" ng-click="pedidoListo()">
                                                    <i class="fa fa-external-link-square"></i>
                                                    <span class=""><h4><b>Confirmar Pedidos Listos</b></h4></span>
                                                </button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-success btn-block" ng-click="pedidoEntregado()">
                                                    <i class="fa fa-external-link-square"></i>
                                                    <span class=""><h4><b>Confirmar Pedido Entregado</b></h4></span>
                                                </button>
                                            </div>-->

                    <!--</div>-->
                </h2>
                <!--<span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>-->
            </div>
        </div>
        <audio id="reproduccionAudioAlert" src="sounds/inflicted.mp3" >
            <!--                        <source src="sounds/Ding-dong-chime.mp3" type="audio/mpeg">-->
            <!--Your browser does not support the <code>audio</code> tag.-->
        </audio>
        <!--</div>-->
        <!--            <div class="col-md-1">
                    </div>-->
        <!--</div>-->

        <script src="script/lib/bootstrap.min.js" type="text/javascript"></script>
        <!--<script src="script/pickList.js" type="text/javascript"></script>-->
        <script src="script/lib/base64.js" type="text/javascript"></script>
        <script src="script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <!--CHART-->  
        <!--        <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
                <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>  -->
        <!--FIN CHART-->

        <script src="script/lib/customSelect.js" type="text/javascript"></script>

        <script src="script/lib/angular-route.js" type="text/javascript"></script>
        <script src="script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="script/lib/ngCookies.js" type="text/javascript"></script>

        <script src="script/app_login.js" type="text/javascript"></script>

        <script src="script/controller/menu-controller.js" type="text/javascript"></script>
        <script src="script/service/retiro_pedido-service.js" type="text/javascript"></script>
        <script>
                                function detectmob() {
                                    if (navigator.userAgent.match(/Android/i)
                                            || navigator.userAgent.match(/webOS/i)
                                            || navigator.userAgent.match(/iPhone/i)
                                            || navigator.userAgent.match(/iPad/i)
                                            || navigator.userAgent.match(/iPod/i)
                                            || navigator.userAgent.match(/BlackBerry/i)
                                            || navigator.userAgent.match(/Windows Phone/i)
                                            ) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                                if (detectmob()) {
                                    $("#list-left").removeClass();
                                    $("#list-right").removeClass();
                                    $("#list-arrows").removeClass();
                                } else {
                                    $("#list-left").addClass("dual-list list-left col-md-5");
                                    $("#list-right").addClass("dual-list list-right col-md-5");
                                    $("#list-arrows").addClass("list-arrows col-md-2 text-center");
                                }
        </script>
        <style>
            #example .demo-section {
                max-width: none;
                width: 695px;
            }

            #example .k-listbox {
                width: 326px;
                height: 340px;
            }

            #example .k-listbox:first-child {
                width: 360px;
                margin-right: 1px;
            }

            .k-ghost {
                display:none!important;
            }

            .custom-placeholder {
                opacity: 0.4;
            }

            #example .k-item {
                line-height: 1em;
            }

            /* Material Theme padding adjustment*/

            .k-material #example .k-item,
            .k-material #example .k-item.k-state-hover,
            .k-materialblack #example .k-item,
            .k-materialblack #examplel .k-item.k-state-hover {
                padding-left: 5px;
                border-left: 0;
            }

            .k-item > span {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                margin: 20px 10px 10px 5px;
            }

            #example .k-item > span:first-child,
            .k-item.k-drag-clue > span:first-child {
                -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                margin: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-size: 100%;
                background-repeat: no-repeat;
            }

            #example h3,
            .k-item.k-drag-clue h3 {
                font-size: 1.2em;
                font-weight: normal;
                margin: 0 0 1px 0;
                padding: 0;
            }

            #example p {
                margin: 0;
                padding: 0;
                font-size: .8em;
            }
        </style>
    </body>
</html>