<!DOCTYPE html>
<html lang="en" ng-app="turneroWebLoginApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="aStar Fashion Template Project">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="76x76" href="css/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="css/assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>TurneroWeb | 2018</title>

        <script src="script/lib/angularjs.js" type="text/javascript"></script>
        <script src="script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>

        <!--<link href="alertasJS/css/popupmodal.css" rel="stylesheet" type="text/css"/>-->
        <link href="alertasJS/mensajes/css-js/animate.css" rel="stylesheet" type="text/css"/>
        <link href="alertasJS/mensajes/css-js/bird-alert-bulma.css" rel="stylesheet" type="text/css"/>
        <link href="css/card.css" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.3/bootstrap.css">
        <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!--        <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
                <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
                <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">-->
        <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/responsive.css">

        <link rel="stylesheet" type="text/css" href="styles/cart.css">
        <link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">

        <!--<script src="js/notify.min.js" type="text/javascript"></script>-->
        <link href="css/dist/overhang.min.css" rel="stylesheet" type="text/css"/>
        <!--<link rel="stylesheet" type="text/css" href="demo/style/prism.css" />-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />-->
        <!--<script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->
        <script src="css/demo/js/jquery-1.12.0.min.js.js" type="text/javascript"></script>
        <script src="css/demo/js/jquery-ui.min.js" type="text/javascript"></script>
        <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->
        <script src="css/dist/overhang.min.js" type="text/javascript"></script>
        <!--<script type="text/javascript" src="demo/js/prism.js"></script>-->
        <script src="css/demo/js/index.js" type="text/javascript"></script>
    </head>
    <body ng-controller="mainMenuCtrl">

        <div class="super_container">

            <!-- Header -->

            <header class="header">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">

                    <!-- Hamburger -->
                    <div class="hamburger menu_mm"><i class="fa fa-bars menu_mm" aria-hidden="true"></i></div>

                    <!-- Logo -->
                    <input type="hidden" ng-model="nomEmpresa">
                    <input type="hidden" ng-model="nomEmpresa2">
                    <div class="header_logo">
                        <a href="#"><div><label id="nomEmpresa3"></label><span id="nomEmpresa4"></span></div></a>
                    </div>

                    <!-- Navigation -->
                    <nav class="header_nav">
                        <ul class="d-flex flex-row align-items-center justify-content-start" id="secciones">
                            <!--                            <li><a href="index.html">home</a></li>
                                                        <li><a href="#">woman</a></li>
                                                        <li><a href="#">man</a></li>
                                                        <li><a href="#">lookbook</a></li>
                                                        <li><a href="#">blog</a></li>
                                                        <li><a href="#">contact</a></li>-->
                        </ul>
                    </nav>

                    <!-- Header Extra -->
                    <div class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start">

                        <!-- Language -->
                        <div class="info_languages has_children">
                            <div class="language_flag"><img src="images/flag_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                            <div class="dropdown_text">español</div>
                            <!--<div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->

                            <!-- Language Dropdown Menu -->
                            <ul>
                                <!--                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_2.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">french</div>
                                                                    </a></li>
                                                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_3.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">japanese</div>
                                                                    </a></li>
                                                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_4.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">russian</div>
                                                                    </a></li>-->
                                <!--                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">spanish</div>
                                                                    </a></li>-->
                            </ul>

                        </div>

                        <!-- Currency -->
                        <div class="info_currencies has_children">
                            <div class="dropdown_text" ng-click="salir()">Salir&nbsp;<i class="fa fa-sign-out"></i></div>
                            <!--<div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->

                            <!-- Currencies Dropdown Menu -->
                            <!--                            <ul>-->
                            <!--<li><a href="#" ng-click="salir()"><div class="dropdown_text">Salir</div></a></li>-->
                            <!--                                <li><a href="#"><div class="dropdown_text">YEN</div></a></li>
                                                            <li><a href="#"><div class="dropdown_text">GBP</div></a></li>
                                                            <li><a href="#"><div class="dropdown_text">CAD</div></a></li>-->
                            <!--</ul>-->

                        </div>

                        <!-- Cart -->
                        <div class="cart d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_icon"><a href="#" ng-click="verTotales()">
                                    <img src="images/bag.png" alt="">
                                    <div class="cart_num"><span id="numCant">0</span></div>
                                </a></div>
                        </div>

                    </div>

                </div>
            </header>

            <!-- Menu -->

            <div class="menu d-flex flex-column align-items-start justify-content-start menu_mm trans_400">
                <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
                <div class="menu_top d-flex flex-row align-items-center justify-content-start">

                    <!-- Language -->
                    <div class="info_languages has_children">
                        <div class="language_flag"><img src="images/flag_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        <div class="dropdown_text">español</div>
                        <!--<div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->

                        <!-- Language Dropdown Menu -->
                        <ul>
                            <!--                            <li><a href="#">
                                                                <div class="language_flag"><img src="images/flag_2.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                <div class="dropdown_text">french</div>
                                                            </a></li>
                                                        <li><a href="#">
                                                                <div class="language_flag"><img src="images/flag_3.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                <div class="dropdown_text">japanese</div>
                                                            </a></li>
                                                        <li><a href="#">
                                                                <div class="language_flag"><img src="images/flag_4.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                <div class="dropdown_text">russian</div>
                                                            </a></li>-->
                            <!--                            <li><a href="#">
                                                                <div class="language_flag"><img src="images/flag_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                <div class="dropdown_text">spanish</div>
                                                            </a></li>-->
                        </ul>

                    </div>

                    <!-- Currency -->
                    <div class="info_currencies has_children">
                        <div class="dropdown_text" ng-click="salir()">Salir&nbsp;<i class="fa fa-sign-out"></i></div>
                        <!--<div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->

                        <!-- Currencies Dropdown Menu -->
                        <!--                        <ul>
                                                    <li><a href="#" ng-click="salir()"><div class="dropdown_text">Salir</div></a></li>-->
                        <!--                            <li><a href="#"><div class="dropdown_text">YEN</div></a></li>
                                                    <li><a href="#"><div class="dropdown_text">GBP</div></a></li>
                                                    <li><a href="#"><div class="dropdown_text">CAD</div></a></li>-->
                        <!--</ul>-->

                    </div>

                </div>
                <div class="menu_search">
                    <form action="#" class="header_search_form menu_mm">
                        <input type="search" id="busquedaArt" class="search_input menu_mm" ng-keypress="buscarArticulo($event)" placeholder="Búsqueda" required="required">
                        <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                            <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <nav class="menu_nav">
                    <ul class="menu_mm" id="secciones2">
                        <!--                        <li class="menu_mm"><a href="index.html">home</a></li>
                                                <li class="menu_mm"><a href="#">woman</a></li>
                                                <li class="menu_mm"><a href="#">man</a></li>
                                                <li class="menu_mm"><a href="#">lookbook</a></li>
                                                <li class="menu_mm"><a href="blog.html">blog</a></li>
                                                <li class="menu_mm"><a href="contact.html">contact</a></li>-->
                    </ul>
                </nav>
                <div class="menu_extra">
                    <div class="menu_social">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">

                <!-- Info -->
                <div class="info">
                    <div class="info_content d-flex flex-row align-items-center justify-content-start">

                        <!-- Language -->
                        <div class="info_languages has_children">
                            <div class="language_flag"><img src="images/flag_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                            <div class="dropdown_text">español</div>
                            <!--<div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->

                            <!-- Language Dropdown Menu -->
                            <ul>
                                <!--                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_2.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">french</div>
                                                                    </a></li>
                                                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_3.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">japanese</div>
                                                                    </a></li>
                                                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_4.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">russian</div>
                                                                    </a></li>-->
                                <!--                                <li><a href="#">
                                                                        <div class="language_flag"><img src="images/flag_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                                                                        <div class="dropdown_text">spanish</div>
                                                                    </a></li>-->
                            </ul>

                        </div>

                        <!-- Currency -->
                        <div class="info_currencies has_children">
                            <div class="dropdown_text" ng-click="salir()">Salir&nbsp;<i class="fa fa-sign-out"></i></div>
                            <!--<div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->

                            <!-- Currencies Dropdown Menu -->
                            <!--<ul>-->
                            <!--<li><a href="#" ><div class="dropdown_text">Salir</div></a></li>-->
                            <!--                                <li><a href="#"><div class="dropdown_text">YEN</div></a></li>
                                                            <li><a href="#"><div class="dropdown_text">GBP</div></a></li>
                                                            <li><a href="#"><div class="dropdown_text">CAD</div></a></li>-->
                            <!--</ul>-->

                        </div>

                    </div>
                </div>

                <!-- Logo -->
                <div class="sidebar_logos">
                    <!--<a href="#"><div>{{nomEmpresa}}<span>{{nomEmpresa2}}</span></div></a>-->
                    <a href="#"><div><label id="nomEmpresa"></label><span id="nomEmpresa2"></span></div></a>
                </div>

                <!-- Sidebar Navigation -->
                <nav class="sidebar_nav" >
                    <ul id="secciones3" >
                        <!--                                                <li><a href="index.html">home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#">woman<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#">man<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#">lookbook<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                                        <li><a href="blog.html">blog<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#">contact<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>-->
                    </ul>
                </nav>

                <!-- Search -->
                <div class="search">
                    <form action="#" class="search_form" id="sidebar_search_form">
                        <input type="text" class="search_input" id="busquedaArt2" ng-keypress="buscarArticulo($event)" placeholder="Búsqueda" required="required">
                        <button class="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>

                <!-- Cart -->
                <div class="cart d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_icon"><a href="#" ng-click="verTotales()">
                            <img src="images/bag.png" alt="">
                            <div class="cart_num"><span id="numCant2">0</span></div>
                        </a></div>
                    <div class="cart_text">{{totalGral}}</div>&nbsp;<b style="color: white">Gs.</b> 
                    <div class="cart_price"></div>
                </div>
            </div>

            <!-- Home -->

            <!--            <div class="home">
            
                             Home Slider 
                            <div class="home_slider_container">
                                <div class="owl-carousel owl-theme home_slider">
            
                                     Slide 
                                    <div class="owl-item">
                                        <div class="background_image" style="background-image:url(images/home_slider_1.jpg)"></div>
                                        <div class="home_content_container">
                                            <div class="home_content">
                                                <div class="home_discount d-flex flex-row align-items-end justify-content-start">
                                                    <div class="home_discount_num">20</div>
                                                    <div class="home_discount_text">Discount on the</div>
                                                </div>
                                                <div class="home_title">New Collection</div>
                                                <div class="button button_1 home_button trans_200"><a href="categories.html">Shop NOW!</a></div>
                                            </div>
                                        </div>
                                    </div>
            
                                     Slide 
                                    <div class="owl-item">
                                        <div class="background_image" style="background-image:url(images/home_slider_1.jpg)"></div>
                                        <div class="home_content_container">
                                            <div class="home_content">
                                                <div class="home_discount d-flex flex-row align-items-end justify-content-start">
                                                    <div class="home_discount_num">20</div>
                                                    <div class="home_discount_text">Discount on the</div>
                                                </div>
                                                <div class="home_title">New Collection</div>
                                                <div class="button button_1 home_button trans_200"><a href="categories.html">Shop NOW!</a></div>
                                            </div>
                                        </div>
                                    </div>
            
                                     Slide 
                                    <div class="owl-item">
                                        <div class="background_image" style="background-image:url(images/home_slider_1.jpg)"></div>
                                        <div class="home_content_container">
                                            <div class="home_content">
                                                <div class="home_discount d-flex flex-row align-items-end justify-content-start">
                                                    <div class="home_discount_num">20</div>
                                                    <div class="home_discount_text">Discount on the</div>
                                                </div>
                                                <div class="home_title">New Collection</div>
                                                <div class="button button_1 home_button trans_200"><a href="categories.html">Shop NOW!</a></div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
            
                                 Home Slider Navigation 
                                <div class="home_slider_nav home_slider_prev trans_200"><div class=" d-flex flex-column align-items-center justify-content-center"><img src="images/prev.png" alt=""></div></div>
                                <div class="home_slider_nav home_slider_next trans_200"><div class=" d-flex flex-column align-items-center justify-content-center"><img src="images/next.png" alt=""></div></div>
            
                            </div>
                        </div>-->

            <!-- Boxes -->

            <!--            <div class="boxes">
                            <div class="section_container">
                                <div class="container">
                                    <div class="row">
            
                                         Box 
                                        <div class="col-lg-4 box_col">
                                            <div class="box">
                                                <div class="box_image"><img src="images/box_1.jpg" alt=""></div>
                                                <div class="box_title trans_200"><a href="categories.html">summer collection</a></div>
                                            </div>
                                        </div>
            
                                         Box 
                                        <div class="col-lg-4 box_col">
                                            <div class="box">
                                                <div class="box_image"><img src="images/box_2.jpg" alt=""></div>
                                                <div class="box_title trans_200"><a href="categories.html">eyewear collection</a></div>
                                            </div>
                                        </div>
            
                                         Box 
                                        <div class="col-lg-4 box_col">
                                            <div class="box">
                                                <div class="box_image"><img src="images/box_3.jpg" alt=""></div>
                                                <div class="box_title trans_200"><a href="categories.html">basic pieces</a></div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>-->

            <!-- Categories -->

            <div class="categories" id="categoria">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="categories_list_container">
                                    <input type="hidden" ng-model="nomSeccion">
                                    <ul class="categories_list d-flex flex-row align-items-center justify-content-start">
                                        <li><a href="#">CATEGORIA</a></li>
                                        <!--<li><a href="#" style="color: red">CATEGORIA</a></li>-->
                                        <li><a href="#" style="color: red"><span id="nomSeccion"></span></a></li>
                                        <li><a href="#">COMPRAS</a></li>
                                        <!--<li><a href="#" ng-click="detalleProducto(1)">COMPRAS</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<br>-->
            <div id="productos"></div>
            <!--<br>-->
            <div class="cart_section" id="tablaDatos" style="display: none;">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="cart_container">
                                    <center>
                                        <div class="col text-center">
                                            <div class="categories_list_container">
                                                <ul class="categories_list d-flex flex-row align-items-center justify-content-start">
                                                    <li><a href="#">LISTADO</a></li>
                                                    <!--<li><a href="#" style="color: red">CATEGORIA</a></li>-->
                                                    <li><a href="#" style="color: red">PRODUCTOS</a></li>
                                                    <li><a href="#">COMPRAS</a></li>
                                                    <!--<li><a href="#" ng-click="detalleProducto(1)">COMPRAS</a></li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </center>
                                    <br>
                                    <!-- Cart Bar -->
                                    <div class="cart_bar">
                                        <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-start">
                                            <li>Producto</li>
                                            <li>Cantidad</li>
                                            <li>Precio</li>
                                            <li>Total</li>
                                        </ul>
                                    </div>

                                    <!-- Cart Items -->
                                    <div class="cart_items" >
                                        <ul class="cart_items_list" ng-repeat="rl in srvPendiente">
                                            <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                                <div class="product_price align-items-lg-center align-items-start justify-content-start" style="font-size: 15px"><span></span>{{$index + 1}} .{{rl.descripcion}}</div>
                                                <div class="product_quantity_container">
                                                    <div class="product_quantity ml-lg-auto mr-lg-auto text-center">
                                                        <span class="product_text product_num">{{rl.cantidad}}</span>
                                                        <div class="qty_sub qty_button trans_200 text-center" ng-click="menosCant(rl.idServPendiente, rl.cantidad, rl.montoServ, rl.articulo.idArticulo)"><span>-</span></div>
                                                        <div class="qty_add qty_button trans_200 text-center" ng-click="masCant(rl.idServPendiente, rl.cantidad, rl.montoServ, rl.articulo.idArticulo)"><span>+</span></div>
                                                    </div>
                                                </div>
                                                <div class="product_price text-lg-center product_text"><span>Precio: </span>{{rl.montoServ| number : 0}}</div>
                                                <div class="product_total text-lg-center product_text" style="color: red"><span>Total: </span>{{rl.totalData| number : 0}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cart Total -->
                <div class="col-xxl-12">
                    <div class="cart_extra cart_extra_2">
                        <div class="cart_extra_content cart_extra_total">
                            <!--<div class="cart_extra_title">Compra Total</div>-->
                            <ul class="cart_extra_total_list">
                                <br>
                                <!--<li class="d-flex flex-row align-items-center justify-content-start">-->
                                <!--                                <div class="row">
                                                                    <div class="col-4"></div>
                                                                    <div class="col-2"><label class="col-sm-2 control-label" for="textinput"></label></div>
                                                                    <div class="col-8"><input type="text" placeholder="Agrega una observación a su compra..." id="txtObservacion" style="color: black;" class="form-control"></div>
                                                                    <div class="col-2"></div>
                                                                </div>-->
                                <!--</li>-->
                                <!--<div class="form-group">-->
                                <li id="observ">
                                    <label class="col-sm-4 control-label" for="textinput">Observación (Campo no obligatorio)</label>
                                    <div class="col-sm-12">
                                        <input type="text" placeholder="Agrega una observación a su compra..." id="txtObservacion" style="color: black;" class="form-control">
                                    </div>
                                </li>
                                <!-- </div>-->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <!--<div class="cart_extra_total_title">Subtotal</div>-->
                                    <!--<div class="cart_extra_total_value ml-auto">{{totalGral}}</div>-->
                                </li>
                                <!--                                <li class="d-flex flex-row align-items-center justify-content-start">
                                                                    <div class="cart_extra_total_title">Shipping</div>
                                                                    <div class="cart_extra_total_value ml-auto">Free</div>
                                                                </li>-->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_extra_total_title" style="color: red; font-size: 20px">Total</div>
                                    <div class="cart_extra_total_value ml-auto" style="color: red; font-size: 20px" id="totalGeneral">{{totalGral}} Gs.</div>
                                </li>
                            </ul>
                            <div class="checkout_button trans_200"><a href="#" ng-click="procesarDatos()">PROCESAR COMPRA</a></div><br>
                            <center>
                                <div class="col text-center">
                                    <div class="categories_list_container">
                                        <ul class="categories_list d-flex flex-row align-items-center justify-content-start">
                                            <!--<li><a href="#">CLIENTE</a></li>-->
                                            <!--<li><a href="#" style="color: red">CATEGORIA</a></li>-->
                                            <li><a href="#" style="color: red; font-size: 13px;">{{rucFinal}}</a></li>
                                            <li><a href="#" style="font-size: 13px;">{{nombreFinal}}</a></li>
                                            <!--<li><a href="#" ng-click="detalleProducto(1)">COMPRAS</a></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal2" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="product_title">
                            <center><h5 style="color: #414141; font-size: 17px;"><b>{{descripcion}}</b></h5></center>
                        </div>
                        <center><span id="imagenProd"> </span></center><br>
                        <!--                        <p>I vostri ordini saranno evasi in ordine cronologico di arrivo. Riceverete, una volta che abbiamo controllato la disponibilità fisica in magazzino, una mail di conferma e, successivamente, una seconda mail di avviso della partenza del pacco.</p>
                                                <p>Grazie per aver scelto Mailmodel !</p>-->
                        <div class="w3agile_description">
                            <span style="color: #414141; font-size: 18px;"><b>Descripción del Producto : </b></span><span style="font-size: 15px;">{{observacion}}</span>
                        </div>
                        <br>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb agileinfo_single_right_snipcart">
                                <h4><b style="color: #414141">Costo:</b> <span style="color:#84a220"><b>{{precio}}</b></span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Volver</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- Footer -->
        <footer class="footer" id="piePagina">
            <!--                <div class="footer_content">
                                <div class="section_container">
                                    <div class="container">
                                        <div class="row">
            
                                             About 
                                            <div class="col-xxl-3 col-md-6 footer_col">
                                                <div class="footer_about">
                                                     Logo 
                                                    <div class="footer_logo">
                                                        http://localhost/frontend-backend-master/
                                                    </div>
                                                    <div class="footer_about_text">
                                                        <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam fringilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
                                                    </div>
                                                    <div class="cards">
                                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                                            <li><a href="#"><img src="images/card_1.jpg" alt=""></a></li>
                                                            <li><a href="#"><img src="images/card_2.jpg" alt=""></a></li>
                                                            <li><a href="#"><img src="images/card_3.jpg" alt=""></a></li>
                                                            <li><a href="#"><img src="images/card_4.jpg" alt=""></a></li>
                                                            <li><a href="#"><img src="images/card_5.jpg" alt=""></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
            
                                             Questions 
                                            <div class="col-xxl-3 col-md-6 footer_col">
                                                <div class="footer_questions">
                                                    <div class="footer_title">questions</div>
                                                    <div class="footer_list">
                                                        <ul>
                                                            <li><a href="#">About us</a></li>
                                                            <li><a href="#">Track Orders</a></li>
                                                            <li><a href="#">Returns</a></li>
                                                            <li><a href="#">Jobs</a></li>
                                                            <li><a href="#">Shipping</a></li>
                                                            <li><a href="#">Blog</a></li>
                                                            <li><a href="#">Partners</a></li>
                                                            <li><a href="#">Bloggers</a></li>
                                                            <li><a href="#">Support</a></li>
                                                            <li><a href="#">Terms of Use</a></li>
                                                            <li><a href="#">Press</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
            
                                             Blog 
                                            <div class="col-xxl-3 col-md-6 footer_col">
                                                <div class="footer_blog">
                                                    <div class="footer_title">blog</div>
                                                    <div class="footer_blog_container">
            
                                                         Blog Item 
                                                        <div class="footer_blog_item d-flex flex-row align-items-start justify-content-start">
                                                            <div class="footer_blog_image"><a href="blog.html"><img src="images/footer_blog_1.jpg" alt=""></a></div>
                                                            <div class="footer_blog_content">
                                                                <div class="footer_blog_title"><a href="blog.html">what shoes to wear</a></div>
                                                                <div class="footer_blog_date">june 06, 2018</div>
                                                                <div class="footer_blog_link"><a href="blog.html">Read More</a></div>
                                                            </div>
                                                        </div>
            
                                                         Blog Item 
                                                        <div class="footer_blog_item d-flex flex-row align-items-start justify-content-start">
                                                            <div class="footer_blog_image"><a href="blog.html"><img src="images/footer_blog_2.jpg" alt=""></a></div>
                                                            <div class="footer_blog_content">
                                                                <div class="footer_blog_title"><a href="blog.html">trends this year</a></div>
                                                                <div class="footer_blog_date">june 06, 2018</div>
                                                                <div class="footer_blog_link"><a href="blog.html">Read More</a></div>
                                                            </div>
                                                        </div>
            
                                                    </div>
                                                </div>
                                            </div>
            
                                             Contact 
                                            <div class="col-xxl-3 col-md-6 footer_col">
                                                <div class="footer_contact">
                                                    <div class="footer_title">contact</div>
                                                    <div class="footer_contact_list">
                                                        <ul>
                                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>C.</span><div>Your Company Ltd</div></li>
                                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>A.</span><div>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68</div></li>
                                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>T.</span><div>+53 345 7953 32453</div></li>
                                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>E.</span><div>office@youremail.com</div></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

            <!-- Social -->
            <div class="footer_social">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="footer_social_container d-flex flex-row align-items-center justify-content-between">
                                    <!--Instagram--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">instagram</div>
                                        </div>
                                    </a>
                                    <!--Google +--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">google +</div>
                                        </div>
                                    </a>
                                    <!--Pinterest--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-pinterest" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">pinterest</div>
                                        </div>
                                    </a>
                                    <!--Facebook--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">facebook</div>
                                        </div>
                                    </a>
                                    <!--Twitter--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">twitter</div>
                                        </div>
                                    </a>
                                    <!--YouTube--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">youtube</div>
                                        </div>
                                    </a>
                                    <!--Tumblr--> 
                                    <a href="#">
                                        <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                            <div class="footer_social_icon"><i class="fa fa-tumblr-square" aria-hidden="true"></i></div>
                                            <div class="footer_social_title">tumblr</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>				
            </div>

            <!-- Credits -->
            <div class="credits">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="credits_content d-flex flex-row align-items-center justify-content-end">
                                    <div class="credits_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        © MutualMSPBS - 2020<script>//document.write(new Date().getFullYear());</script> Todos los derechos reservados.    
                                        <!--<button type="button" ng-click="acaNomas()">HOLA QUE TAL</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="advanced" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <legend><center>Datos de Facturación</center></legend>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <!--                        <ul class="nav nav-pills pull-right">
                                                    <li class="active">
                                                        <a href="#date" data-toggle="pill">Date</a>
                                                    </li>
                                                    <li><a href="#relevance" data-toggle="pill">Relevance</a></li>
                                                    <li><a href="#dealership" data-toggle="pill">Dealership</a></li>
                                                </ul>
                                                <h4>Advanced Sort</h4>	-->
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-12">
                                <form class="form-horizontal" role="form">
                                    <fieldset>

                                        <!-- Form Name -->
                                        <!--<legend><center>Detalle de Facturación</center></legend>-->

                                        <!-- Text input-->
                                        <div id="clientePago">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="textinput">RUC/CI</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="XXX" id="rucFactura" ng-keypress="buscarCliente($event)" ng-model="val" ruc-only style="color: black;" class="form-control">
                                                </div>
                                            </div>

                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-sm-10 control-label" for="textinput">Nombre Persona o Empresa</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="Sin Nombre" id="nombreFactura" style="color: black;" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="pagoPago">
                                            <!-- Text input-->
                                            <div class="row">
                                                <label class="col-sm-4 control-label" for="textinput">Forma de Pago:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="pago" style="color: black;" onchange='showcontrol()' title="Select the type of input control for the user (either textbox or dropdown listbox)">
                                                        <option value="1">EFECTIVO</option>
                                                        <option value="2">TARJETA</option>
                                                        <option value="3">NOTA DE CREDITO</option>
                                                    </select>
                                                    <!--<input type="text" placeholder="City" class="form-control">-->
                                                </div>
                                            </div>
                                            <span id="numModal"><br></span>

                                            <div class="row" id="numeroFacturaLabel">
                                                <label class="col-sm-4 control-label" for="textinput">Número:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="numeroFactura" placeholder="####" class="form-control">
                                                </div>
                                            </div>
                                            <span id="tarjModal"><br></span>

                                            <div class="form-group" id="debitoLabel">
                                                <!--<div class="form-check">-->
                                                <label class="col-sm-2 form-check-label" for="abc"></label>
                                                <input class="form-check-input" type="checkbox" onchange="debitoCambio()" name="debito" id="debito" value="option1" checked>
                                                <label class="col-sm-4 form-check-label" for="debito">
                                                    Débito
                                                </label>
                                                <input class="form-check-input" type="checkbox" onchange="creditoCambio()" name="credito" id="credito" value="option1">
                                                <label class="col-sm-4 form-check-label" for="credito" id="creditoLabel">
                                                    Crédito
                                                </label>
                                                <!--</div>-->
                                            </div>
                                            <span id="autModal"><br></span>
                                            <input type="hidden" id="idCli">
                                            <div class="row" id="codigoFacturaLabel">
                                                <label class="col-sm-4 control-label" for="textinput">Código Autorización:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="####" id="codigoFactura" class="form-control">
                                                </div>
                                            </div>
                                            <span id="monModal"><br></span>

                                            <!-- Text input-->
                                            <div class="row">
                                                <label class="col-sm-4 control-label" for="textinput">Monto:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" placeholder="Ingrese monto Gs." id="montoFactura" ng-keypress="keyPressed($event)" style="color: black;" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="widget-header">
                                                    <i class="icon-th-list"></i>
                                                    <h4>Pagos Realizados</h4>
                                                </div>
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>TIPO</th>
                                                            <th>MONTO</th>
                                                            <th></th>
                                                            <!--<th class="td-actions"></th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody id="detallePago">
                                                        <tr ng-repeat="rp in formaPago">
                                                            <td>{{rp.descripcion}}</td>
                                                            <td>{{rp.monto}}</td>
                                                            <td><center><button class="btn btn-danger btn-sm"><i class="fa fa-remove" ng-click="quitarPago(rp)"></i></button></center></td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td style="color: red"><b>Total Pago:</b></td>
                                                            <td colspan="2" style="color: red"><b id="totalPagoGeneral">{{totalPago| number}}</b></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!--<input type="hidden" id="datoImpresion">-->
                                        <div id="facturaImpresion">
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="return" data-dismiss="modal"><i class="fa fa-sign-out"></i>&nbsp;Cerrar</button>
                        <button type="button" class="btn btn-primary" id="next" onclick="next()">Siguiente&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
                        <button type="button" class="btn btn-secondary" id="back" onclick="back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Atrás</button>
                        <button type="button" class="btn btn-primary" id="facturar" ng-click="facturarDatos()">Facturar&nbsp;<i class="fa fa-print"></i></button>
                        <button type="button" class="btn btn-secondary" id="backFactura" onclick="backFactura()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Atrás</button>
                        <button type="button" class="btn btn-primary" id="imprimir" ng-click="imprimirFactura()">Imprimir&nbsp;<i class="fa fa-print"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="boxData">
                    <div class="notificationsData">
                        <i class="fa fa-bell"></i>
                        <span class="numData"></span>
                        <ul>
                            <li class="icon">
                                <span class="icon"><i class="fa fa-user"></i></span>
                                <center><span class="text">Subtotal: 300.000</span></center>
                            </li>
                        </ul>
                    </div>
                </div>-->

        <script src="script/lib/base64.js" type="text/javascript"></script>
        <!--<script src="js/jquery-3.2.1.min.js"></script>-->
        <script src="styles/bootstrap-4.1.3/popper.js"></script>
        <script src="styles/bootstrap-4.1.3/bootstrap.min.js"></script>
        <!--<script src="../node_modules/angular-md5/angular-md5.js" type="text/javascript"></script>-->
        <!--        <script src="plugins/greensock/TweenMax.min.js"></script>
                <script src="plugins/greensock/TimelineMax.min.js"></script>
                <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>-->
        <!--<script src="plugins/greensock/animation.gsap.min.js"></script>-->
        <!--<script src="plugins/greensock/ScrollToPlugin.min.js"></script>-->
        <!--<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>-->
        <!--<script src="plugins/easing/easing.js"></script>-->
        <script src="plugins/parallax-js-master/parallax.min.js"></script>
        <script src="plugins/Isotope/isotope.pkgd.min.js"></script>
        <script src="plugins/Isotope/fitcolumns.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/cart.js"></script>

        <script src="script/lib/angular-route.js" type="text/javascript"></script>
        <script src="script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="script/lib/ngCookies.js" type="text/javascript"></script>

        <script src="alertasJS/mensajes/css-js/bird-alert.js" type="text/javascript"></script>
        <script src="script/app_login.js" type="text/javascript"></script>

        <script src="script/controller/menu-controller.js" type="text/javascript"></script>
        <script src="script/service/retiro_pedido-service.js" type="text/javascript"></script>
        <script src="script/service/cliente-service.js" type="text/javascript"></script>
        <script src="script/service/empresa-service.js" type="text/javascript"></script>
        <script src="script/service/seccion-service.js" type="text/javascript"></script>
        <script src="script/service/articulo-service.js" type="text/javascript"></script>
        <script src="script/service/serv_pendiente-service.js" type="text/javascript"></script>
        <script src="script/service/cliente_pendiente-service.js" type="text/javascript"></script>
        <script src="script/service/supervisor-service.js" type="text/javascript"></script>
        <script src="script/service/usuario-service.js" type="text/javascript"></script>
        <script src="script/service/sucursal-service.js" type="text/javascript"></script>
        <script src="script/service/timbrado-service.js" type="text/javascript"></script>
        <script src="script/service/caja-service.js" type="text/javascript"></script>
        <script src="script/service/talonario_sucursal-service.js" type="text/javascript"></script>
        <script src="script/service/rango_retiro_pedido-service.js" type="text/javascript"></script>
        <script src="script/service/publicidad-service.js" type="text/javascript"></script>
        <script src="script/service/modo_venta-service.js" type="text/javascript"></script>
        <script type="text/javascript">
                                    $("#numeroFactura").fadeOut("slow");
                                    $("#numModal").fadeOut("slow");
                                    $("#codigoFactura").fadeOut("slow");
                                    $("#autModal").fadeOut("slow");
                                    $("#numeroFacturaLabel").fadeOut("slow");
                                    $("#codigoFacturaLabel").fadeOut("slow");
                                    $("#credito").fadeOut("slow");
                                    $("#debito").fadeOut("slow");
                                    $("#tarjModal").fadeOut("slow");
                                    $("#creditoLabel").fadeOut("slow");
                                    $("#debitoLabel").fadeOut("slow");
                                    $("#pagoPago").fadeOut("fast");
                                    $("#back").fadeOut("fast");
                                    $("#facturar").fadeOut("fast");
                                    $("#backFactura").fadeOut("fast");
                                    $("#imprimir").fadeOut("fast");
                                    document.getElementById("facturar").disabled = true;
                                    function creditoCambio() {
                                        if (document.getElementById("credito").checked === true) {
//                                            alert("CRED " + $("#credito").checked)
                                            $("#debito").prop("checked", false);
                                            $("#credito").prop("checked", true);
                                        } else {
//                                            alert("CRED " + $("#credito").checked)
                                            $("#debito").prop("checked", true);
                                            $("#credito").prop("checked", false);
                                        }
                                    }
                                    function debitoCambio() {
                                        if (document.getElementById("debito").checked === true) {
//                                            alert("DEB " + $("#credito").checked)
                                            $("#credito").prop("checked", false);
                                            $("#debito").prop("checked", true);
                                        } else {
//                                            alert("DEB " + $("#credito").checked)
                                            $("#credito").prop("checked", true);
                                            $("#debito").prop("checked", false);
                                        }
                                    }
                                    function next() {
//                                        var montoFactura = $("#montoFactura").val().replace(" Gs.", "");
//                                        montoFactura = montoFactura.replace(".", "");
//                                        montoFactura = montoFactura.replace(",", "");
//                                        alert($("#montoFactura").val())
                                        var totalGeneral = $("#totalGeneral").html().replace(" Gs.", "");
                                        totalGeneral = totalGeneral.replace(".", "");
                                        totalGeneral = totalGeneral.replace(",", "");

                                        var totalPagoGeneral = $("#totalPagoGeneral").html().replace(" Gs.", "");
                                        totalPagoGeneral = totalPagoGeneral.replace(".", "");
                                        totalPagoGeneral = totalPagoGeneral.replace(",", "");

//                                        alert(parseInt(totalGeneral) + " - " + parseInt(totalPagoGeneral))
                                        if (parseInt(totalGeneral) > parseInt(totalPagoGeneral)) {
                                            document.getElementById("facturar").disabled = true;
                                            var dif = parseInt(totalGeneral) - parseInt(totalPagoGeneral);
                                            $("#montoFactura").val(formatNumber.new(dif));
                                        } else {
                                            var dif = parseInt(totalGeneral) - parseInt(totalPagoGeneral);
                                            $("#montoFactura").val(formatNumber.new(dif));
                                            document.getElementById("facturar").disabled = false;
                                        }
                                        $("#back").fadeIn("slow");
                                        $("#next").fadeOut("fast");
                                        $("#facturar").fadeIn("slow");
                                        $("#clientePago").fadeOut("fast");
                                        $("#return").fadeOut("fast");
                                        $("#pagoPago").fadeIn("slow");
                                        $("#backFactura").fadeOut("fast");
                                        $("#imprimir").fadeOut("fast");
                                    }
                                    function backFactura() {
                                        $("#back").fadeIn("slow");
                                        $("#next").fadeOut("fast");
                                        $("#facturar").fadeIn("slow");
                                        $("#clientePago").fadeOut("fast");
                                        $("#facturaImpresion").fadeOut("fast");
                                        $("#return").fadeOut("fast");
                                        $("#pagoPago").fadeIn("slow");
                                        $("#backFactura").fadeOut("fast");
                                        $("#imprimir").fadeOut("fast");
                                    }
                                    function back() {
                                        $("#back").fadeOut("fast");
                                        $("#next").fadeIn("slow");
                                        $("#facturar").fadeOut("fast");
                                        $("#clientePago").fadeIn("slow");
                                        $("#pagoPago").fadeOut("fast");
                                        $("#return").fadeIn("slow");
                                        $("#backFactura").fadeOut("fast");
                                        $("#imprimir").fadeOut("fast");
                                    }
                                    function showcontrol() {
                                        var x = document.getElementById("pago").value;
                                        //                    alert(x)
                                        //                    document.getElementById("demo").innerHTML = "You selected: " + x;
                                        if (x === "1") {
                                            $("#numModal").fadeOut("slow");
                                            $("#numeroFactura").fadeOut("slow");
                                            $("#autModal").fadeOut("slow");
                                            $("#codigoFactura").fadeOut("slow");
                                            $("#numeroFacturaLabel").fadeOut("slow");
                                            $("#codigoFacturaLabel").fadeOut("slow");
                                            $("#tarjModal").fadeOut("slow");
                                            $("#credito").fadeOut("slow");
                                            $("#debito").fadeOut("slow");
                                            $("#creditoLabel").fadeOut("slow");
                                            $("#debitoLabel").fadeOut("slow");
                                        } else if (x === "2") {
                                            $("#numModal").fadeOut("slow");
                                            $("#numeroFactura").fadeOut("slow");
                                            $("#autModal").fadeIn("slow");
                                            $("#codigoFactura").fadeIn("slow");
                                            $("#numeroFacturaLabel").fadeOut("slow");
                                            $("#codigoFacturaLabel").fadeIn("slow");
                                            $("#tarjModal").fadeIn("slow");
                                            $("#credito").fadeIn("slow");
                                            $("#debito").fadeIn("slow");
                                            $("#creditoLabel").fadeIn("slow");
                                            $("#debitoLabel").fadeIn("slow");
                                        } else if (x === "3") {
                                            $("#numModal").fadeIn("slow");
                                            $("#numeroFactura").fadeIn("slow");
                                            $("#autModal").fadeOut("slow");
                                            $("#codigoFactura").fadeOut("slow");
                                            $("#numeroFacturaLabel").fadeIn("slow");
                                            $("#codigoFacturaLabel").fadeOut("slow");
                                            $("#tarjModal").fadeOut("slow");
                                            $("#credito").fadeOut("slow");
                                            $("#debito").fadeOut("slow");
                                            $("#creditoLabel").fadeOut("slow");
                                            $("#debitoLabel").fadeOut("slow");
                                        }
                                    }
                                    $("#montoFactura").on({
                                        "focus": function (event) {
                                            $(event.target).select();
                                        },
                                        "keyup": function (event) {
                                            $(event.target).val(function (index, value) {
                                                return value.replace(/\D/g, "")
                                                        .replace(/([0-9])([0-9]{0})$/, '$1$2')
                                                        .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
                                            });
                                        }
                                    });
                                    var formatNumber = {
                                        separador: ",", // separador para los miles
                                        sepDecimal: '.', // separador para los decimales
                                        formatear: function (num) {
                                            num += '';
                                            var splitStr = num.split(',');
                                            var splitLeft = splitStr[0];
                                            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
                                            var regx = /(\d+)(\d{3})/;
                                            while (regx.test(splitLeft)) {
                                                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
                                            }
                                            return this.simbol + splitLeft + splitRight;
                                        },
                                        new : function (num, simbol) {
                                            this.simbol = simbol || '';
                                            return this.formatear(num);
                                        }
                                    }
        </script>
    </body>
</html>