/*============= Start banner_area css =============*/
.banner_area{
    background: #04091e;
    
	position: relative;
    z-index: 1;
    .bg-parallax{
        background: url("../image/banner_bg.jpg") no-repeat scroll center 0 / cover;
        opacity: 0.50;
    }
    .position{
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
    }
}
.booking_table{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 800px;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 125%;
    bottom: 0;
    z-index: -1;
}
.banner_content{
    color: #fff;
    margin-bottom: 94px;
    h6{
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 400;
    }
    h2{
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
    }
    p{
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        padding: 10px 0px 20px;
    }
}
/*============= End banner_area css =============*/

.hotel_booking_area{
    
}
.hotel_booking_table{
    background: #04091e;
    align-items: center;
    padding: 40px 50px 30px;
	display: flex;
    h2{
        font-size: 24px;
        line-height: 30px;
        color: #fff;
        text-transform: uppercase;
    }
}
.boking_table{
    margin-left: -50px;
}
.book_tabel_item{
    .form-group{
        margin-bottom: 0px;
        .input-group{
            position: relative;
            
            .form-control{
                border: 1px solid #2b3146;
                background: transparent;
                border-radius: 0px;
                font-size: 13px;
                line-height: 38px;
                padding: 0px 20px;
                color: #fff;
                z-index: 0;
                @include placeholder{
                    color: #fff;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .input-group-addon{
                background: transparent;
                padding: 0px;
                border: 0px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                z-index: 2;
            }
        }
    }
    .input-group{
        margin-bottom: 10px;
    }
    .nice-select{
        background: transparent;
        border-radius: 0px;
        border: 1px solid #2b3146;
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        color: #fff;
        &:after{
            content: "\e874";
            font-family: 'Linearicons-Free';
            font-size: 13px;
            color: #fff;
            border: 0px;
            top: 0;
            margin-top: 0px;
            right: 20px;
            transform: rotate(0);
            transform-origin: 0 0;
        }
    }
}

/*=========== breadcrumb_area css =============*/
.breadcrumb_area{
    position: relative;
    padding: 172px 0px 84px;
    background: #04091e;
    z-index: 1;
    overflow: hidden;
    .bg-parallax{
        background: url("../image/about_banner.jpg") no-repeat scroll center 0 / cover;
        opacity: 0.50;
        z-index: -1;
    }
}
.page-cover-tittle{
    display: block;
    font-size: 36px;
    line-height: 45px;
    color: #fff;
}
.breadcrumb{
    text-align: center;
    background: transparent;
    padding: 0px;
    display: inline-block;
    li{
        display: inline-block;
        color: #fff;
        a{
            color: #fff;
        }
        & + li{
            &:before{
                content: "\e87a";
                font-family: 'Linearicons-Free';
                font-size: 14px;
                font-weight: 600;
                vertical-align: middle;
                margin: 0px 10px 0px 7px;
            }
        }
    }
}


/*============= End banner_area css =============*/

/*=============Blog Banner css =============*/
.blog_banner{
    min-height: 780px;
	overflow: hidden;
	.bg-parallax{
		background: url(../image/banner/banner-1.jpg) no-repeat scroll center center;
	}
	.banner_content{
        margin-bottom: 0px;
        margin-top: 106px;
		h4{
			font-size: 60px;
			line-height: 66px;
			font-weight: bold;
			color: #fff;
			font-family: $pop;
		}
		p{
			font-size: 16px;
			padding: 0px;
			margin-bottom: 35px;
		}
	}
}
.f_48{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.blog_banner_two{
    padding: 187px 0px 104px;
    .bg-parallax{
		background: url(../image/banner/banner-2.jpg) no-repeat scroll center top / cover;
	}
}
/*=============End Blog Banner css =============*/

